<div class="pokedex">
  <h1>Pokédex</h1>

  <div class="team">
    <h3>Your Team ({{ team.length }}/6)</h3>
    <ul>
      <li *ngFor="let slot of getTeamSlots()">
        <ng-container *ngIf="slot; else emptySlot">
          <img
            [src]="slot.sprites?.front_default || slot.image"
            [alt]="slot.name"
          />
          <div>{{ slot.name | titlecase }}</div>
          <button class="remove-btn" (click)="removeFromTeam(slot)">
            Remove
          </button>
        </ng-container>

        <ng-template #emptySlot>
          <div class="placeholder-card"></div>
        </ng-template>
      </li>
    </ul>
  </div>

  <input
    type="text"
    [(ngModel)]="searchTerm"
    (input)="filterPokemons()"
    placeholder="Search Pokémon..."
    class="search-bar"
  />

  <div>
    <ul>
      <li class="card" *ngFor="let pokemon of filteredPokemons">
        <div class="card-inner">
          <span class="star" *ngIf="isInTeam(pokemon)">★</span>

          <img [src]="pokemon.image" [alt]="pokemon.name" />
          <div>{{ pokemon.name | titlecase }}</div>

          <button class="details-btn" (click)="toggleDetails(pokemon)">
            {{
              selectedPokemon?.name === pokemon.name
                ? "Close Details"
                : "Show Details"
            }}
          </button>

          <div *ngIf="selectedPokemon?.name === pokemon.name">
            <button class="add-btn" (click)="addToTeam(pokemonDetails)">
              Add to Team
            </button>
            <p>Height: {{ pokemonDetails?.height }}</p>
            <p>Weight: {{ pokemonDetails?.weight }}</p>

            <h4>Evolutions</h4>
            <ul>
              <li *ngFor="let evo of evolutions">
                {{ evo.name | titlecase }}
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
